@media all {

	body.loc_KEM {
		background-image: url("../img/bg_kemnath_v3.png");	
		background-repeat: no-repeat;
		background-color: #fff;
		background-position: right top;		
	}
	
	#headline.loc_KEM {
		background-image: url("../img/kem_logo.png");	
		background-repeat: no-repeat;
		margin-top: 30px;
		height: 120px;
		margin-bottom: 30px;
	}

	#mainbox {
		margin-top: 50px;		
	}
	
	.DatumUhrzeit {
		margin-bottom: 30px;
		background-color: #f8f9fa;
		padding: 10px 20px;
		text-align: center;
		font-weight: bold;
	}
	
	.jumbotron {
		padding: 2rem 2rem;
	}
	
	.jumbotron h1 {

		font-weight: bold;
	}
	
	div.apobox {
		border: 1px solid #333;
		margin: 1em 1em;
		padding: 0.5em;
	}
	
	div.apobox h3 {
		/* background-color: #aaa;*/
	}
	
	div.apobox h4 {
		font-weight: bold;
		
	}
	
	.dienstbereit h3 {
		color: red !important;
		font-weight: bold;
	}
	
	div.distance {
		margin-top:0.5em;
	}
	
	.overlay {
		/* Height & width depends on how you want to reveal the overlay (see JS below) */   
		height: 100%;
		width: 100%;
		position: fixed; /* Stay in place */
		z-index: 2000; /* Sit on top */
		left: 0;
		top: 0;
		background-color: white;
		padding: 0 100px 0;
	}
	
	
	/* Position the content inside the overlay */
	.overlay-content {
		  position: relative;
		  width: 100%; /* 100% width */
		  text-align: center; /* Centered text/links */
	}
	
	.overlay-content img {
		max-width: 100%;
		width: auto;
		max-height: 100%;
	}

}