@media all {

	h1 {
		font-weight: bold;
		text-align: center;
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	
	.subheader {
		font-weight: bold;
		color: grey;		
	} 
	
	h2 {
		font-weight: bold;
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1rem;		
	}
	
	h4 {
		font-weight: bold;
		font-size: 1.15rem;
		margin-bottom: 0;
	}
	
	div.notdienstdatum {
		background:#ccccff;		
	}
	
	div.notdienstdatum h3 {
		font-weight: bold;
		font-size: 1.75rem;
		margin: 0;
		padding: 0.2rem 0.3rem;
	}
	
	
	div.notdienstdatum h3 span {
		padding: 0.25rem 0;
	}
	
	div.notdienstdatum .year, div.notdienstdatum .dayofweek {
		font-size:	70%;
		display: block;
	}
	
	div.notdienstdatum .month, div.notdienstdatum .dayofmonth {
		display: inline;
	}
	
	div.apobox address {
		margin-bottom: 0;
	}
	
	div.distance {
		display:none;
	}
	
	div.notdiensttag {
		border: 2px solid black !important;
		margin-top: 1.5rem;
		padding: 0.5rem 1rem;
		page-break-inside: avoid;
	}
	
	.dienstbereit h3 {
		color: red !important;
		font-weight: bold;
	}
	
	div.footer {
			padding: 0;
			font-size: 0.8rem;
			margin-top: 1rem;
	}
		
}

@media print {
/*
	@page {
		size: A4;
		margin:15mm;
	}
		
	body, main.container {
		width: 180mm !important;
		min-width: 180mm !important;
		max-width: 180mm !important;

		height: 267mm;
	}
*/
}