@media all {

	h1 {
		font-weight: bold;
		text-align: center;
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	
	.subheader {
		font-weight: bold;
		color: grey;		
	} 
	
	h2 {
		font-weight: bold;
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1rem;		
	}
	h3 {
		font-weight: bold;
		font-size: 1.15rem;
		margin-bottom: 0;
	}
	div.apobox address {
		margin-bottom: 0;
	}
	
	div.distance {
		display:none;
	}
	
	div.notdiensttag {
		border: 1px solid black !important;
		margin-top: 1.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	
	.dienstbereit h3 {
		color: red !important;
		font-weight: bold;
	}
	
	div.footer {
			padding: 0;
			font-size: 0.8rem;
			margin-top: 1rem;
	}
		
}

@media print {

  .container {
  	  min-width: 0 !important;
  }
  
  div.notdiensttag {
	border: 2px solid black !important;
  }

}