@media all {

	h1 {
		font-weight: bold;
		text-align: center;
		font-size: 2rem;
		margin-bottom: 2.5rem;
	}
	
	.subheader {
		font-weight: bold;
		color: grey;		
	} 
	
	h2 {
		font-weight: bold;
		font-size: 1.5rem;
		margin-top: 0;
		margin-bottom: 1rem;		
	}
	
	h4 {
		font-weight: bold;
		font-size: 1.15rem;
		margin-bottom: 0;
	}
	
	div.notdienstdatum {
		background:#ccccff;		
	}
	
	div.notdienstdatum h3 {
		font-weight: bold;
		font-size: 1.75rem;
		margin: 0;
		padding: 0.2rem 0.3rem;
	}
	
	
	div.notdienstdatum h3 span {
		padding: 0.25rem 0;
	}
	
	div.notdienstdatum .year, div.notdienstdatum .dayofweek {
		font-size:	70%;
		display: block;
	}
	
	div.notdienstdatum .month, div.notdienstdatum .dayofmonth {
		display: inline;
	}

	div.apobox {
		padding: 0.5rem 1rem;
	}
	
	div.apobox address {
		margin-bottom: 0;
	}
	
	div.distance {
		display:none;
	}
	
	div.notdiensttag {
		border: 2px solid black !important;
		margin-top: 1.5rem;
		padding: 0;
		page-break-inside: avoid;
	}
	
	div.dienstbereit {
		border: 0.25em solid red;
	}
	
	div.dienstbereit h4 {
		color: red !important;
		font-weight: bold;
	}
	
	div.footer {
			padding: 0;
			font-size: 0.8rem;
			margin-top: 1rem;
	}
	
	
	table.kalender, table.kalender th, table.kalender td {
    	border: 1px solid black;
    	/* position: relative; */
    	/* border-collapse: collapse; */
    }
	
	table.kalender td, table.kalender th {
      /*  padding: 0.85em 0.75em 0.5em 0.75em; */
      padding: 0;   	  
    }
    
    table.kalender th, table.kalender td {
    	width: 8.33%;
    }
    
    table.kalender tbody, table.kalender tfoot {
    	font-size: 85%;
    }
    
    table.kalender tfoot {
    	background: #eee !important;
    }
       
    table.kalender td.holiday {
    	background: #ff99ff !important;
       /* z-index: -1; */
    }
    
    table.kalender td.hotday {
    	background-image: repeating-linear-gradient(135deg, white 0%, white 8%, #ff99ff 8%, #ff99ff 12%, white 12%);      
    }
    	
    table.kalender td.odd_week {
        /* background: #ffff99; */ 
    	/* z-index: -1; */
    }
    
    table.kalender td.week_other_year {
        /* background: #ffcc99; */ 
    	/* z-index: -1; */
    }
    
    table.kalender td.not_a_day {
        background: #ccc;
        /* z-index: -1; */
    }
        
    table.kalender td .dom_number, table.kalender td .dow_name {
    	font-size: 85%;
    	padding-right: 0.25em;
    	/* z-index: 1; */
    }    
    
    table.kalender td.dow_sa {
    	font-weight: bold;
    	background-color: #ffebb2;
    }
    
    table.kalender td.dow_so {
    	font-weight: bold;
    	background-color: #ffde7f;
    }    
    
    table.kalender td.heute {
    	border: 2px solid red;
        /* z-index: -1; */
    }   
    
    	/* ul.ndliste {display:inline;list-style-type:none;} */
    
    .date_content {
    	width: 40%;			
	}
	
	.legende_entry {
		padding: 0.25em 1.5em;
		margin:  0.25em 0.5em;
	}
	
	.legende_id {
		font-weight: bold;
	}
	
	.legende_entry,
	.nd_content,
	.date_content {
		float: left;	
	}
	
	.nd_tag {
		padding: 0 0.25em;
		font-weight: bold;
	}
	
    .nd_ESB {background-color:yellow;}
	.nd_AEWEN, .nd_WEN {background-color:#33cc00;}
	.nd_WESB, .nd_WIN {background-color:#3399ff;color:white;}
	.nd_KEM {background-color:#ff6666;color:white;}
		
		
}

@media print {

	@page {
		size: A4 landscape;		
		margin:10mm;
	}
	
	#jahresplan_2026 h1 {
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	
	.legende_entry {
		font-size: 66%;
	}
	
	.legende_entry {
		padding: 0.15em 0.5em;
		margin:  0;
	}
	
	#jahresplan_2026, .databox {
		page-break-inside: avoid;
	}

}